.line-chart {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(134, 169, 196, 0.1);
  padding-top: 12px;

  &-title {
    padding: 0 40px;
    font-size: 20px;
    font-weight: 400;
    color: #364458;
  }

  &-content {
    display: flex;
    justify-content: center;
  }
}
